
.items{
font-size: large;
font-weight: 700;
margin-right: 160px;
}

.items1{
font-size: medium;
font-weight: 700;
margin-right: 245px;
}
.myColor{
background: linear-gradient(#D3D3D3, #696969);
top:0;
height: 100%;
width: 100%;
position: fixed;
left:0;   
}
h1{
padding-top:10px;
color:MediumSeaGreen;
}

.errorStyle{
color:red;
font-size:14px;
padding-top:6px;
padding-bottom:6px;
visibility:hidden;
width:200px;
}

.textAreaStyle{
background-color:WhiteSmoke;
border-radius: 3px;
border-style:none;
margin-left: 85px;
width:300px;
padding-left:10px;
padding-top: 8px;
}
.textStyle{
background-color:WhiteSmoke;
border-radius: 3px;
border-style:none;
width: 300px;
height: 40px;
margin-left: 85px;
padding-left:10px;
}
.numberStyle{
background-color:MediumSeaGreen	;
border-radius:30px 30px 30px 2px;
padding:6px 11px;
color: white;
}

.applyBox{
border-radius:5px;
border-style: none;
background-color: white;
height:570px;
width:480px;
margin-top: 25px;
margin-left: 425px;
}
.dropStyle{
background-color:LightGrey;
border-radius: 3px;
border-style:none;
margin-left: 85px;
width: 310px;
height: 40px;
padding-left:9px;
}

.buttonStyle{
background-color: MediumSeaGreen;
color: white;
border-style: none;
height:50px;
width:313px;
margin-left: 85px;
}
select{
    -webkit-appearance: none;
    appearance: none;
}
